@page "/play"
@using Rock_Paper_Scissors.Client.Services;
@inject NavigationManager NavigationManager
@inject IUserService UserService;

<div class="index">
    <button style="position:absolute;left:0;top:0;" @onclick=@ReturnToMenu>◄Return to menu</button>
    <h1> Room @roomCode</h1>
    <h1>User @UserService.Username</h1>
</div>


@code {
    string roomCode;

    protected override void OnInitialized()
    {
        roomCode = GetRoomCodeFromUrl();
    }

    private string GetRoomCodeFromUrl()
    {
        var uri = new Uri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var roomCode = queryParams.Get("roomCode");

        if(roomCode.Length < 6)
        {
            ReturnToMenu();
        }

        UserService.RoomCode = roomCode;
        return roomCode;
    }

    private void ReturnToMenu()
    {
        NavigationManager.NavigateTo("/");
    }
}
