@page "/"
@using System.Text;
@using Rock_Paper_Scissors.Client.Services;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<div class="index">
    <h1>ROCK PAPER SCISSORS</h1>

    @switch (step)
    {
        case 1:
            <div class="menu 1">
                <div class="menu" id="1">
                <button @onclick=@HostOnClick>Create Game</button>
                <button @onclick=@JoinOnClick>Join Game</button>
            </div>
            break;
        case 2:
            <Animate Animation="Animations.SlideLeft">
                <div class="menu" id="2">
                <h5>Username:</h5>
                <InputText @bind-Value=@UserService.User.Username class="input username" placeholder="Username" />

                @if (host)
                {
                    <button @onclick=@CreateRoom>Create</button>
                }
                else
                {
                    <h5>Room Code:</h5>
                    <InputText @bind-Value=@UserService.User.RoomCode class="input roomcode" placeholder="Room Code" />
                    <button @onclick=@JoinRoom>Join</button>
                }
                <button @onclick=@BackOnClick style="position:absolute;bottom:0;">◄Go back</button>
            </div>
            break;
    }
</div>

@code {
    bool host = false;
    int step = 1;

    private void HostOnClick()
    {
        host = true;
        step = 2;
    }

    private void JoinOnClick()
    {
        host = false;
        step = 2;
    }

    private void BackOnClick()
    {
        host = false;
        step = 1;
    }

    private void CreateRoom()
    {
        if (String.IsNullOrEmpty(UserService.User.Username))
        {
            return;
        }
        UserService.User.RoomCode = GenerateId(6);
        NavigationManager.NavigateTo($"/play?roomCode={UserService.User.RoomCode}");
    }

    private void JoinRoom()
    {
        UserService.User.Username = UserService.User.Username.Trim();
        UserService.User.RoomCode = UserService.User.RoomCode.Trim();
        if (String.IsNullOrEmpty(UserService.User.Username) || String.IsNullOrEmpty(UserService.User.RoomCode))
        {
            return;
        }
        UserService.User.RoomCode = UserService.User.RoomCode.ToUpper();
        NavigationManager.NavigateTo($"/play?roomCode={UserService.User.RoomCode}");
    }

    private string GenerateId(int length)
    {
        String availableChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

        Random random = new Random();
        StringBuilder builder = new StringBuilder(length);

        for (int i = 0; i < length; i++)
        {
            builder.Append(availableChars[random.Next(availableChars.Length)]);
        }

        return builder.ToString();
    }
}
